/* BpmnDesigner.module.css */
.reactBpmnDiagramContainer {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.container {
    width: 80%;
    height: 600px;
    border: 1px solid #ccc;
    border-radius: 4px;
    position: relative;
}

.panel {
    width: 20%;
    height: 600px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
}

.bjs-container .bjs-powered-by {
    display: none;
}
